@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --bs-primary-color:#2C8275;
  --bs-secondary-color:#EFFFFD !important;
  --bs-teritory-color:#FFF9F7;
  --bs-fourthy-color:#EEEFEF;
  --bs-fifth-color:#414141;
  --bs-sixth-color:#555555;
  --bs-sevent-color: #E0FFFA;
  --bs-eight-color: #C8FAF2;
  --bs-nine-color:#ffffff;
  --bs-font-color:##03404F !important;
  --bs-font-sans-serif:"Aurora" !important;
  --bs-heading-first-tag:1.875rem;
  --bs-heading-second-tag:1.5rem;
  --bs-heading-third-tag:1.25rem ;
  --bs-heading-fourth-tag:1.125rem;
  --bs-heading-fifth-tag:1rem;
  --bs-heading-sixth-tag:0.875rem;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x:0 !important;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: var(--bs-body-font-family);
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

input, select {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-size: 0.8rem !important;
}

input, select {
  width: 100%;
  outline: none;
}

address {
  font-style: normal;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  font-family: "aurora";
  font-size: 16px;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--bs-heading-first-tag) !important;
}

h2 {
  font-size: var(--bs-heading-second-tag) !important;
}

h3 {
  font-size: var(--bs-heading-third-tag) !important;
}

h4 {
  font-size: var(--bs-heading-fourth-tag) !important;
}

h5 {
  font-size: var(--bs-heading-fifth-tag) !important;
}

h6 {
  font-size: var(--bs-heading-sixth-tag) !important;
}

.row {
  --bs-gutter-x: 0 !important;
}

video {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

section {
  margin-top: 5rem;
}


/* ------------------Footer section--------------------- */
.footer{
  background-color:#EFFFFD;
}
.footer .footer-logo{
  width:149.95px;
  height: 115.27px;
}
.call-section img{
width:28.1px;
height: 28.1px;
}


.frame-parent29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-lg-7);
}



.call-section h1{
  font-family: "aurora",'sans-serif';
  font-weight: 700;
  line-height: 45px;
  color:#2C8275;
}



.frame-parent30 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 17.56px;
}
.call-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35.13px;
}
.call-icon,
  .contact3  h1{
    width: 28.1px;
    height: 28.1px;
  }
  .call-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35.13px;
  }
  .contact3 h1, .footer-category h1 , .get-in-touch h1{
    width: 402.8px;
    max-width: 100%;
    line-height: 31.61px;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
    font-family: "aurora",'sans-serif';
       color:#2C8275;
  }
  .div14 p{
    width: 403px;
    max-width: 100%;
    position: relative;
    font-size: 24px;
    line-height: 34.13px;
    font-weight: 600;
    font-family: "aurora",'sans-serif';
    color:#4A4A4A;
  
  }
  .footer-category a{
    color: #4a4a4a;
  }
  .footer-category ul{
    line-height:3.2rem;
  }
  .footer-category ul li a{
   font-family: "aurora",'sans-serif';
   font-weight: 600;
   font-size: 24px;
   color:#4A4A4A;
   text-decoration: none;
  }
  .social-media-typeset-blog-grap-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
    padding-top: 10px;
  }
  .social-media-typeset-blog-grap-icon {
    width: 50px;
    position: relative;
    height: 42.2px;
    object-fit: cover;
  }
  .pajamastwitter-icon {
    width: 42.1px;
    position: relative;
    height: 42.1px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .get-in-touch{
    background-color:#FFFFFF;
    padding: 3rem 3rem !important;
  }
  .form-control{
    padding: 20px !important;
    background-color: rgba(172, 218, 211, 0.25) !important;
    color:#777777;
    border-radius: 10%;

  }
  .textarea{
    padding: 20px !important;
    background-color: rgba(172, 218, 211, 0.25) !important;
    color:#777777;
    width: 100% !important;
    height: auto;
  }
 
  .tacbox {
    display:block;
    margin: 2em;
  }
  
  input {
    height:1em;
    width: 1em;
    vertical-align: middle;
  }
  .tacbox h3{
    font-family: "aurora",'sans-serif';
    font-weight: 100;
    color:#777777;
    padding-left:5px;
  }
  .submit{
    background-color:#03404F;
    padding:1rem 3rem 1rem 3rem;
    font-weight:700;
    border-radius: 5%;
    color:#FFFFFF;
    font-size: 1.25rem !important;
    text-align: center;

    
  }
 /* ----------------------copyright section------------------------ */
.copyright-area{
  background-color: #03404F;
  padding:10px;
   
}
.copyright-area ul{
   list-style-type: none;
}
.copyright-area  ul li{
    display: inline-flex;
    position: relative;
}

.copyright-area ul li a{
  color:#FFFFFF;
  font-size:1.5rem;
  font-family: "aurora",'sans-serif';
  font-weight:600;
  text-decoration: none;
 
}
.copyrigh-area ul {
  position: relative;
  font-family: "aurora",'sans-serif';
  font-weight: 200;
}
.copyright li{
  color:#FFFFFF;
  font-size: 1.5rem;
  font-family: "aurora",'sans-serif';
  font-weight: 700;
}
.copyright ul{
  text-align:center;
}
.copyrigh-area ul li span .separator{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  
  height: 10px;
  background-color: #941111; 
  top:10%;
  width: 2px;
  height: 12px;

}
   /* --------------Our story section--------- */

   /*------------- banner section----------------------- */
   .our-story h1{
    font-family: "aurora",'sans-serif';
    color:#FFFFFF;
    font-weight: 700;
   }
   .ban_sec {
    width: 100%;
  }
 
  .ban_img {
    width: 100%;
    position: relative;
    animation: hover-pinch;
  }
 
  .ban_img img {
    width: 100%;
  }
  .ban_text h1 {
    position: absolute;
    top: 50%;
    left:15%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    margin: 7px 0 25px;
    font-family: "aurora",'sans-serif';
    font-weight: 700;
  }
  
  .ban_text h1 {
    color: #fff;
    margin: 7px 0 25px;
    font-family: "aurora",'sans-serif';
    font-weight: 700;
  }

  /*-------------- Tab section----------------------- */
 .tab .tablinks{
   background-color:#fff;
 }
  
  
  .tab button h1{

    border: none;
    outline: none;
    cursor: pointer;
   padding:1rem 1rem;
    transition: 0.3s;
    color:#2C8275;
    font-family: "aurora";
    text-transform: capitalize;
    text-align: left;
    
  }
  
  
  .tabcontent {
    display:none;
    /* padding:2rem 2rem; */
    padding: 2rem;
   
    border-top: none;
  }
  
  /* .tabcontent h5{
    color: #7E3A2A;
    font-family:"gotu";
  } */
  .uses-name h1{
     font-family: "aurora";
   
     color:#2C8275;
     padding-left: 1px;
     text-transform: capitalize;
  }
  .uses-seweed-small h5{
    font-family: "aurora";
    font-weight:500;
    color:#414141;
    padding: 1rem 1rem;
    text-align: left;
    line-height: 1.6;
  }

 .uses-seweed-second-name h4{
  font-family: "aurora";
  font-weight: 700;
  color:#2C8275;
  text-transform: capitalize;
 }


  .uses-seweed-second-text-second h4{
    font-family: "aurora";
    font-weight:500;
    color:#414141;
    padding-top: 10px;
    line-height: 1.5;
    padding-bottom:10px;
    text-transform: capitalize;
  }
  h6,h3,h4{
    line-height: 1.7 !important;
  }
  .uses-seweed-second-text h6{line-height: 1.6;}
  
  .uses-seweed-main{
      /* text-align:left;
       padding:0rem 0rem;  */
      
  }
  .uses-seweed-second-name h2{
    font-family: "aurora";
  font-weight: 700;
  color:#2C8275;
  line-height: 1.5;
  }
  .sticky{
   
  position: sticky;
  top: 10rem;
  
  }
  .tokyo-bg {
   
      background-image: url('/images/benefits-image.png');
  background-repeat: no-repeat;
  background-size:100% 100%;
  padding:1rem;
  width:600px;
  height:auto;
  max-width: 100%;
  
  position: relative;
  }
  
  .tokyo-main{
    margin-top:20%;
    width: 50%;
    margin:0 auto;
  
  }
 .tokyo-second h6{
  font-family: "aurora";
  
 }
 .main-text h5{
  color:#FFFFFF;
 }
 .main-text h6{
  color:#FFFFFF;
 }
 .tokyo-small{
   padding:2rem 2rem; 
 }

 /*----------------------- Activities ------------------------------*/
 .key-application h1{
  color:#2C8275;
  font-family: "aurora";
 
 
  
 }
 .seaweed-are-emerging h5{
  font-family: "aurora";
  color:#425066;
  font-weight:400;
    /* line-height: 27.95px;
    display: inline-flex; */
    /* padding-top:27px; */
  
 }
.food-text{
  background: linear-gradient( 169.22deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0) );
  backdrop-filter: blur(11.47px);
  left:23px;
  bottom:23px;
  position: absolute;
}

.food-text{
  margin: 0 !important;
    position: absolute;
   padding-top: 32.7px;
    left: calc(50% - 36px);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26.53px;
    z-index: 1; */
    
}
.container{
  overflow: hidden;
  position: relative;
  gap: 6.92px;

}
.food{

    position:absolute;
    /* line-height: 34.61px; */
    /* z-index: 1;  */
    /* width:484.1px; */
    padding:1rem 9rem;
    top: -6.2px;
    left: calc(50% - 205.1px);
    border-radius: 0 0 13.76px 13.76px;
    background: linear-gradient( 169.22deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0) );
    backdrop-filter: blur(11.47px);
    height: 61.9px;
    z-index: 0;
    /* padding-left: 20%; */
}
.food-text h2{
  /* padding-left:35%; */
  line-height:40px;
  font-weight: 700;
  color:#000000;
 
}
.content {
  position: relative;
  width:96%;
  max-width: 400px;
  /* margin: auto; */
  overflow: hidden;
} 

.content .content-overlay1 {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}


.fadeIn-left{
  left: 20%;
}
.tab button:hover {
  
  border-bottom:1px solid #2C8275;
}

 /* h4{
  border:1px solid grey;
  font-family: "aurora",'sans-serif';
  font-weight: 700;
  color:#2C8275;
} */
.name h5{
  font-family: "aurora";
  font-weight: 200;
  color:#414141;
  margin:0rem 3rem;
}
.name{
  padding:0rem 2rem;
  background-color:#E7FFFB;
}
.name .number{

    padding:1rem 1rem 7rem 1rem;
    margin-top:2rem;
    background-color:#2C8275;
    color:white;
   border-radius: 10px 10px 10px 10px;

}
.main-text{
  padding:3rem 3rem;
}
.varity-food h1{
  font-family: "aurora";
  font-weight: 700;
  color:#2C8275;
  text-transform: capitalize;
}
.varity-food-text h3{
  font-family: "aurora";
  font-weight: 700;
  color:#414141;
}
.varity-main{
  margin-top:20%;
  /* border:1px solid black; */
  /* padding:3rem; */
  width:100%;
  /* border-radius: 2rem 2rem; */
   padding:0rem 2rem; 
  /* border-right:2px solid #2C8275; */
 /* margin-top: 20%; */
  /* height:73%; */
}
.variety-sub{
  background-color:#FFFFFF;
}
.varity-main h3{
  font-family: "aurora";
  font-weight: 700;
  color:#2C8275;
  padding-bottom:20px;
  text-transform: capitalize;

}
.varity-main h5{
  font-family: "aurora";
  font-weight: 500;
  color:#2C8275;
  text-transform: capitalize;
  text-align: left;
}

.varity-main h6{
  font-family: "aurora";
  font-weight: 500;
  color:#414141;
  text-transform: capitalize;
  text-align: left;
}
.second-text{
 padding:3rem 3rem 3rem 3rem;
 

}
.second-text h3{
  font-family: "aurora";
  font-weight: 500;
  color:#414141;
  text-transform: capitalize;
  /* border:1px dashed  #2C8275; */
}
.number-section{
  background-image: url('../images/number.png');
  background-size:100% 100%;
  width: 100%;
  height:auto;
  max-width: 100%; 
}
.number-section-second{
  background-image:url('../images/number-02.png');
  background-size:100% 100%;
  width: 100%;
  height:auto;
  max-width: 100%;
}

.number-section-three{
  background-image:url('../images/number-three.png');
  background-size:100% 100%;
  width: 100%;
  height:auto;
  max-width: 100%;
}
.varity-section{
 padding:1rem 3rem;
}
.varity-section h4{
  font-family: "aurora";
  font-weight: 700;
  color:#2C8275;
  text-transform: capitalize;

}
.varity-section h5{
  font-family: "aurora";
  font-weight: 400;
  color:#3E3232;
  text-transform: capitalize;
 
}
.methods-first{
 padding:3rem;
  margin-right:20px;
  border:1px solid #E7FFFB;
  border-radius: 10px 10px 10px 10px;
}
.methods-second{
   padding:1.5rem;
  background-color:#E7FFFB;
  border-radius: 10px 10px 10px 10px;
  margin-left:20px;
}
.methods-first h3 , .methods-second h3{
  color:#414141;
  font-family: "aurora";
  text-align: left;
  font-weight: 700;
  text-transform: capitalize;
}
.methods-first h4 , .methods-second h4{
  font-family: "aurora";
  font-weight: 300;
  color:#414141;
  text-align: left;
  text-transform: capitalize;
}
.food-menu h3{
  font-weight: 300;
}

/* new */





/* backgroung sea  */

.background-water{
  background-image: url('/images/bannerSea.png');
  /* padding: 2rem; */
  background-repeat: no-repeat;
  background-size: cover;
}
.background-water .col-lg-12{
  margin-top: 2rem;
padding: 3rem;
}
.background-water-first{
  background-color: white;
  opacity: .6;
  color: green;
  display: grid;
  align-items: center;
 padding: 2rem;
}
.background-water-second{
  background-color: white;
   padding: 2rem;
   
 
}
.background-water-second h5{
  padding: .6rem;
}
.background-water-second h6{
  font-weight: 400;
  line-height: 1.3;
  padding: .6rem;
}
.background-water-first h4{

  padding: 8rem;
 
}

@media screen and (max-width:769.12) {
  
}